h2,p{
   font-family: 'Raleway', sans-serif;	
   
}
h2{
	font-size: 3em;
	font-weight: 800;
}
h3{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1.6em;
	padding-left: 30px;
}
p{
    font-weight: 200;
	font-size: 0.9em;
	padding-left: 30px;
}
.block{
  background-color: #e56353;
  text-align: center;
  color: #FFFFFF;

}
.block__inner{
  padding: 0;
  margin: 0;
}
.encabezado__header{
	height: 300px;
}
.encabezado__title{
   padding-top: 50px;
   font-weight: 200;
}
.information{
	height: 800px;
	padding: 0;
}
.information__img{
	width: 100%;
	height: 400px;
	padding: 0;
	margin: 0;
}
.information__parrafo--1{
	background-color: #707070;
	color: #FAFAFA;
}
.information__parrafo--2{
	background-color: #FAFAFA;
	color: #707070;
}
.information h3{
	padding-top: 90px;
}
@media only screen and (max-width: 767px){
.information{
	height: 1000px;
	padding: 0;
}
.information__col{
	display: none;
}
.information__parrafo--1{
	background-image: url(../img/our-tomatoes.png);
	padding-top:0;
	height: 500px;
}
.information__parrafo--2{
	background-image: url(../img/img-history.png);
	padding-top:0;
	height: 500px;
	color: black;
}
}
.blog__img{
	height: 300px;
}
.encabezado__nosotros{
	height: 200px;
	
}
.encabezado__nosotros h2{
    padding-top: 60px;
	
}
.nosotros{
	background-color: #FAFAFA;
}
.nosotros h3{

	color: #707070;
}
.nosotros p{

	color: #707070;
}
.nosotros img{
	margin:0;
	padding:0;
}
@media only screen and (max-width: 767px){
  .nosotros img{
  	width: 100%
  	height:200px;
  	padding-top: 20px;

  }
}
.contacto {
	height: 200px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.contacto h2{
	padding-top: 30px;
}
.contacto__button{
	border-radius:150px;
}
@media only screen and (max-width: 767px){
 
  .contacto h2{
     font-size: 2em;
  }

	}
.footer{
	background-color: #686963;
}
.footer p{
	font-size: 1em;
}
.footer__icono{
    background-color: #FFFFFF;
	color: #707070;
	border: solid 1px #707070;
	border-radius: 150px;
	padding-top: 7px;
	padding-left: 9.5px;
	padding-right: 12px;
	width: 15%;
	height: 60px;

}
.footer__info{

	color: #FAFAFA;
}
@media only screen and (max-width: 767px){
  .footer{
  	text-align: center;
  }
  .footer__img{
  	display: none;
  }
  .footer__icono{
  	padding-top: 9px;
	padding-left: 4.5px;
	padding-right: 6px;
  	font-size: 30px;
  	height: 50px;
  	width: 20%;
  }
  .footer__info{

  	padding-top:10px;
 
  }
}